body{
    margin: 0;
}
.container{
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
}
.sidebar{
    background-color: aqua;
    height: 1000px;
    width: 20%;


}

.main{
    width: 80%;
    height: 1000px;
    background-color: brown;

    display: flex;
    }